@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary_blue:#4A5AEA;
  --light_blue:#F0F4F5
}

*{
  font-family: 'Poppins', sans-serif
}
.title__text{
  font-family: 'Oswald', sans-serif;
}

header{
  width: 100vw;
  height: 70px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.929);
  backdrop-filter: blur(5px);
}
.nav__link{
  transition: .3s ease-in-out;
  flex: 1
}


.mobile__link:hover,.nav__link:hover{
  background-color: var(--primary_blue);
  color: aliceblue;
}

.menu{
  width: 50px;
  cursor: pointer;
}

.menu__btn{
  background-color: var(--primary_blue);
  height: 2px;
  width: 30px;
  position: relative;
  transition: .3s ease-in-out;
}

.menu__btn::after, .menu__btn::before{
  content:"";
  height: inherit;
  width: inherit;
  background-color: var(--primary_blue);
  position: absolute;
  transition: .3s ease-in-out;

}
.menu__btn::before{
  transform: translateY(-7px);
  
}
.menu__btn::after{
  transform: translateY(7px);
  
}
.menu__btn.active{
  background-color: transparent;
}
.menu__btn.active::after{
  transform: rotate(135deg);
}
.menu__btn.active::before{
  transform: rotate(45deg);
}


.mobile__menu{
  position: absolute;
  height: calc(100vh - 70px);
  top: 70px;
  left: -100%;
  width: 100%;
  transition: .5s ease-in-out;
  opacity: 0;
}
.mobile__menu.active{
  left: 0;
  opacity: 1;
}

.mobile__link{
  background-color: rgba(255, 255, 255, 0.929);
  transform: translateX(-20px);
  transition: .2s ease-in-out;
  z-index: 999;
  backdrop-filter: blur(5px);
  
}


.mobile__link.active{
  opacity: 1;
  transform: translateX(0);
}
.mobile__link.active:nth-child(1){
  transition-delay: .2s;
}
.mobile__link.active:nth-child(2){
  transition-delay: .3s;
}
.mobile__link.active:nth-child(3){
  transition-delay: .4s;
}
.mobile__link.active:nth-child(4){
  transition-delay: .5s;
}
.mobile__link.active:nth-child(5){
  transition-delay: .6s;
}

.mobile__link.in-active{
  opacity: 0;
  transition: .3s ease-in-out;
  transform: translateX(-20px);
}

.mobile__link.in-active:nth-child(1){
  transition-delay: .5s;
}
.mobile__link.in-active:nth-child(2){
  transition-delay: .4s;
}
.mobile__link.in-active:nth-child(3){
  transition-delay: .3s;
}
.mobile__link.in-active:nth-child(4){
  transition-delay: .2s;
}
.mobile__link.in-active:nth-child(5){
  transition-delay: .1s;
}

.hero__section{
  height: calc(100vh - 70px);
}
.hero__img{
  background-color: var(--primary_blue);
  position: relative;
  
}
.hero__text{
  background-color: var(--light_blue);
}

.cartImage{
  height: 85%;
  bottom: 30px;
  width: 350px;
  opacity: 1;
  background-color: rgb(210, 210, 210);
  animation: fadeRight 1s forwards;
}

.browse-now__btn{
  display: inline-block;
  background-color: var(--primary_blue);
  padding: 10px 25px;
  outline: none;
  border: none;
  border-radius: 10px;
  color:white
}

@keyframes fadeRight {
  0%{
    opacity: 1;
    transform: translateX(200px);
  }
  100%{
    opacity: 1;
    transform: translateX(250px);
  }
}


.hero__p1, .hero__p2, .hero__h1, .browse-now__btn{
  opacity: 0;
  animation: fadeUp 1s forwards;
}

.hero__p1{
  animation-delay: .6s;
}
.hero__h1{
  animation-delay: 1s;
}
.hero__p2{
  animation-delay: 1.5s;
}
.browse-now__btn{
  animation-delay: 2s;
}

@keyframes fadeUp {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }

  100%{
    opacity:1;
    transform: translateY(0);
  }
  
}

.u__line{
  height: 1.5px;
  width: 100px;
  background-color: var(--primary_blue);
}

.blue__text{
  transition: .3s ease-in-out;
}

.product__card:hover .blue__text{
  color: var(--primary_blue) !important;
}


.card__image__div{
  height:100%;
  width: 100%;
  object-fit: contain;
  position: relative;
  overflow: hidden;
}
.card__image{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.loading{
  height: 50px;
  width: 50px;
  border: 3px solid var(--light_blue);
  border-radius: 50%;
  border-bottom-color: var(--primary_blue);
  animation: loading 2s linear infinite ;
}

@keyframes loading {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(365deg);
  }
}


.slash__sales{
  height: 350px;
  position: relative;
  background-image:  linear-gradient(to right,  var(--light_blue), var(--light_blue), var(--primary_blue));
  overflow-y: hidden;

}
.slash__sales img{
  top: -100px;
  right: 50px;
  
}


Footer{
  background-color: #002347;
  color: white;
}
footer p{
  opacity: .6;
}

.contact_links{
  display: block;
  padding: 10px 0;
  transition: .3s ease-in-out;
}
.contact_links:hover{
  color: var(--primary_blue);
}
.icons, .viewProductIcon{
  font-size: 20px;
  padding: 7px;
  background-color: var(--primary_blue);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}



.viewProductIcon{
  border-radius: 0;
  width: 60px;
  height: 40px;
  padding: 4px;
  color: white;
  opacity: .7;
  transition: .2s ease-in-out;
}

.viewProductDiv{
  background-color: rgba(204, 204, 204, 0.678);
  position: absolute;
  height: 80px;
  bottom: -100px;
  transition: .5s ease-in-out;
  backdrop-filter: blur(5px);
}

.product__card:hover .viewProductDiv{
  bottom: 0;
}
.viewProductDiv:hover .viewProductIcon{
  opacity: 1;
}


/* SHOP / PRODUCT DESIGN PAGE */

.shop__hero{
  height: calc(100vh - 70px);
  background-color: var(--light_blue);
}

.productNav{
  background-color: var(--light_blue);
}
.productNav__title{
  background-color: var(--primary_blue);
  height: 50px;
}

.showFilterBtn{
  transform: translateY(20px);
  opacity: 0;
  transition: .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.showFilterBtn.show{
  opacity: 1;
  transform: translateY(0);
}


/* CUSTOM RADIO BUTTON */

.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ddd; /* Default background color */
  border-radius: 50%;
  cursor: pointer;
  position: relative; /* Necessary for the pseudo-element */
}

.custom-radio input[type="radio"] {
  opacity: 0; /* Hide the default radio button */
}

.custom-radio::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent; /* Default state */
  transition: all 0.2s ease-in-out;
}

.custom-radio input[type="radio"]:checked + .custom-radio::after {
  background-color: blue; /* Checked state color */
  box-shadow: 0 0 5px 3px blue; /* Create a "glow" effect */
}

.catInput{
  font-size: 20px;
  
}
input[type="radio"]{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--primary_blue);
  transition: .5s ease-in-out;
}

input[type="radio"]:checked{
  background-color: var(--primary_blue);
}