@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary_blue:#4A5AEA;
  --light_blue:#F0F4F5
}

*{
  font-family: 'Poppins', sans-seri
}
.title__text{
  font-family: 'Oswald', sans-serif;
}

header{
  width: 100vw;
  height: 70px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.862);
  backdrop-filter: blur(5px);
}
.nav__link{
  transition: .3s ease-in-out;
}
.mobile__link:hover,.nav__link:hover{
  background-color: var(--primary_blue);
  color: aliceblue;
}

.menu{
  width: 50px;
  cursor: pointer;
}

.menu__btn{
  background-color: var(--primary_blue);
  height: 2px;
  width: 30px;
  position: relative;
  transition: .3s ease-in-out;
}

.menu__btn::after, .menu__btn::before{
  content:"";
  height: inherit;
  width: inherit;
  background-color: var(--primary_blue);
  position: absolute;
  transition: .3s ease-in-out;

}
.menu__btn::before{
  transform: translateY(-7px);
  
}
.menu__btn::after{
  transform: translateY(7px);
  
}
.menu__btn.active{
  background-color: transparent;
}
.menu__btn.active::after{
  transform: rotate(135deg);
}
.menu__btn.active::before{
  transform: rotate(45deg);
}


.mobile__menu{
  position: absolute;
  height: calc(100vh - 70px);
  top: 70px;
  left: -100%;
  width: 100%;
  transition: .5s ease-in-out;
  opacity: 0;
}
.mobile__menu.active{
  left: 0;
  opacity: 1;
}

.mobile__link{
  background-color: rgba(255, 255, 255, 0.862);
  transform: translateX(-20px);
  transition: .2s ease-in-out;
  z-index: 999;
  backdrop-filter: blur(5px);
  
}


.mobile__link.active{
  opacity: 1;
  transform: translateX(0);
}
.mobile__link.active:nth-child(1){
  transition-delay: .2s;
}
.mobile__link.active:nth-child(2){
  transition-delay: .3s;
}
.mobile__link.active:nth-child(3){
  transition-delay: .4s;
}
.mobile__link.active:nth-child(4){
  transition-delay: .5s;
}
.mobile__link.active:nth-child(5){
  transition-delay: .6s;
}

.mobile__link.in-active{
  opacity: 0;
  transition: .3s ease-in-out;
  transform: translateX(-20px);
}

.mobile__link.in-active:nth-child(1){
  transition-delay: .5s;
}
.mobile__link.in-active:nth-child(2){
  transition-delay: .4s;
}
.mobile__link.in-active:nth-child(3){
  transition-delay: .3s;
}
.mobile__link.in-active:nth-child(4){
  transition-delay: .2s;
}
.mobile__link.in-active:nth-child(5){
  transition-delay: .1s;
}

.hero__section{
  height: calc(100vh - 70px);
}
.hero__img{
  background-color: var(--primary_blue);
  position: relative;
  
}
.hero__text{
  background-color: var(--light_blue);
}

.cartImage{
  height: 85%;
  bottom: 30px;
  width: 500px;
  opacity: 0;
  animation: fadeRight 1s forwards;
}

.browse-now__btn{
  display: inline-block;
  background-color: var(--primary_blue);
  padding: 10px 25px;
  outline: none;
  border: none;
  border-radius: 25px;
  color:white
}

@keyframes fadeRight {
  0%{
    opacity: 0;
    transform: translateX(200px);
  }
  100%{
    opacity: 1;
    transform: translateX(250px);
  }
}


.hero__p1, .hero__p2, .hero__h1, .browse-now__btn{
  opacity: 0;
  animation: fadeUp 1s forwards;
}

.hero__p1{
  animation-delay: .6s;
}
.hero__h1{
  animation-delay: 1s;
}
.hero__p2{
  animation-delay: 1.5s;
}
.browse-now__btn{
  animation-delay: 2s;
}

@keyframes fadeUp {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }

  100%{
    opacity:1;
    transform: translateY(0);
  }
  
}

.u__line{
  height: 1.5px;
  width: 100px;
  background-color: var(--primary_blue);
}

.blue__text{
  transition: .3s ease-in-out;
}

.product__card:hover .blue__text{
  color: var(--primary_blue) !important;
}